{% extends 'base.html' %}
{% block content %}
<div class="content container-fluid">
    <div class="page-header">
       <div class="row align-items-center">
          <div class="col">
             <h3 class="page-title">Add Subject</h3>
             <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="subjects.html">Subject</a></li>
                <li class="breadcrumb-item active">Add Subject</li>
             </ul>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-sm-12">
          <div class="card">
             <div class="card-body">
                <form>
                   <div class="row">
                      <div class="col-12">
                         <h5 class="form-title"><span>Subject Information</span></h5>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Subject Name</label>
                            <input type="text" class="form-control">
                         </div>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Course</label>
                            <select class="form-control" name="course_id" required>
                                <option>Select Course</option>
                                 {% for i in course %}
                                <option value="{{i.id}}">{{i.name}}</option>
                                 {% endfor %}
                             </select>
                         </div>
                      </div>
                      <div class="col-12 col-sm-6">
                         <div class="form-group">
                            <label>Staff</label>
                            <select class="form-control" name="course_id" required>
                                <option>Select Staff</option>
                                 {% for i in course %}
                                <option value="{{i.id}}">{{i.name}}</option>
                                 {% endfor %}
                             </select>
                         </div>
                         <br>
                      </div>
                      <div class="col-12">
                         <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                   </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>
{% endblock content %}