{% extends 'Website/websitebase.html' %}
{% load static %}
{% block content %}
<!-- Header Start -->

    
<section class="particle" style="background-color: #2d3436;">
    <div id="particles-js">
        <div class="container_type">
            <div class="output" id="output">
                <h1 id="h1" class="cursor"></h1>
                <p></p>
            </div>
        </div>
    </div>
</section>

<!-- Header End -->


<!-- About Start -->
<div class="container-fluid py-5">
<div class="container py-5">
    <div class="row">
        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
            <div class="position-relative h-100">
                <img class="position-absolute w-100 h-100" src="{% static 'website/assets/img/about.jpg' %}" style="object-fit: cover;">
            </div>
        </div>
        <div class="col-lg-7">
            <div class="section-title position-relative mb-4">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">About Us</h6>
                <h1 class="display-4">First Choice For Online Education Anywhere</h1>
            </div>
            <p>Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam ipsum et, tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos sadipscing labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor consetetur takimata eirmod, dolores takimata consetetur invidunt magna dolores aliquyam dolores dolore. Amet erat amet et magna</p>
            <div class="row pt-3 mx-0">
                <div class="col-3 px-0">
                    <div class="bg-success text-center p-4">
                        <h1 class="text-white" data-toggle="counter-up">123</h1>
                        <h6 class="text-uppercase text-white">Available<span class="d-block">Subjects</span></h6>
                    </div>
                </div>
                <div class="col-3 px-0">
                    <div class="bg-primary text-center p-4">
                        <h1 class="text-white" data-toggle="counter-up">1234</h1>
                        <h6 class="text-uppercase text-white">Online<span class="d-block">Courses</span></h6>
                    </div>
                </div>
                <div class="col-3 px-0">
                    <div class="bg-secondary text-center p-4">
                        <h1 class="text-white" data-toggle="counter-up">123</h1>
                        <h6 class="text-uppercase text-white">Skilled<span class="d-block">Instructors</span></h6>
                    </div>
                </div>
                <div class="col-3 px-0">
                    <div class="bg-warning text-center p-4">
                        <h1 class="text-white" data-toggle="counter-up">1234</h1>
                        <h6 class="text-uppercase text-white">Happy<span class="d-block">Students</span></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- About End -->


<!-- Feature Start -->
<div class="container-fluid bg-image">
<div class="container">
    <div class="row">
        <div class="col-lg-7 my-5 pt-5 pb-lg-5">
            <div class="section-title position-relative mb-4">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Why Choose Us?</h6>
                <h1 class="display-4">Why You Should Start Learning with Us?</h1>
            </div>
            <p class="mb-4 pb-2">Aliquyam accusam clita nonumy ipsum sit sea clita ipsum clita, ipsum dolores amet voluptua duo dolores et sit ipsum rebum, sadipscing et erat eirmod diam kasd labore clita est. Diam sanctus gubergren sit rebum clita amet.</p>
            <div class="d-flex mb-3">
                <div class="btn-icon bg-primary mr-4">
                    <i class="fa fa-2x fa-graduation-cap text-white"></i>
                </div>
                <div class="mt-n1">
                    <h4>Skilled Instructors</h4>
                    <p>Labore rebum duo est Sit dolore eos sit tempor eos stet, vero vero clita magna kasd no nonumy et eos dolor magna ipsum.</p>
                </div>
            </div>
            <div class="d-flex mb-3">
                <div class="btn-icon bg-secondary mr-4">
                    <i class="fa fa-2x fa-certificate text-white"></i>
                </div>
                <div class="mt-n1">
                    <h4>International Certificate</h4>
                    <p>Labore rebum duo est Sit dolore eos sit tempor eos stet, vero vero clita magna kasd no nonumy et eos dolor magna ipsum.</p>
                </div>
            </div>
            <div class="d-flex">
                <div class="btn-icon bg-warning mr-4">
                    <i class="fa fa-2x fa-book-reader text-white"></i>
                </div>
                <div class="mt-n1">
                    <h4>Online Classes</h4>
                    <p class="m-0">Labore rebum duo est Sit dolore eos sit tempor eos stet, vero vero clita magna kasd no nonumy et eos dolor magna ipsum.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-5" style="min-height: 500px;">
            <div class="position-relative h-100">
                <img class="position-absolute w-100 h-100" src=" {% static 'website/assets/img/feature.jpg' %}" style="object-fit: cover;">
            </div>
        </div>
    </div>
</div>
</div>
<!-- Feature Start -->


<!-- Testimonial Start -->
<div class="container-fluid bg-image py-5" style="margin: 90px 0;">
<div class="container py-5">
    <div class="row align-items-center">
        <div class="col-lg-5 mb-5 mb-lg-0">
            <div class="section-title position-relative mb-4">
                <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Testimonial</h6>
                <h1 class="display-4">What Say Our Students</h1>
            </div>
            <p class="m-0">Dolor est dolores et nonumy sit labore dolores est sed rebum amet, justo duo ipsum sanctus dolore magna rebum sit et. Diam lorem ea sea at. Nonumy et at at sed justo est nonumy tempor. Vero sea ea eirmod, elitr ea amet diam ipsum at amet. Erat sed stet eos ipsum diam</p>
        </div>
        <div class="col-lg-7">
            <div class="owl-carousel testimonial-carousel">
                <div class="bg-white p-5">
                    <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                    <p>Sed et elitr ipsum labore dolor diam, ipsum duo vero sed sit est est ipsum eos clita est ipsum. Est nonumy tempor at kasd. Sed at dolor duo ut dolor, et justo erat dolor magna sed stet amet elitr duo lorem</p>
                    <div class="d-flex flex-shrink-0 align-items-center mt-4">
                        <img class="img-fluid mr-4" src=" {% static 'website/assets/img/testimonial-2.jpg' %}" alt="">
                        <div>
                            <h5>Student Name</h5>
                            <span>Web Design</span>
                        </div>
                    </div>
                </div>
                <div class="bg-white p-5">
                    <i class="fa fa-3x fa-quote-left text-primary mb-4"></i>
                    <p>Sed et elitr ipsum labore dolor diam, ipsum duo vero sed sit est est ipsum eos clita est ipsum. Est nonumy tempor at kasd. Sed at dolor duo ut dolor, et justo erat dolor magna sed stet amet elitr duo lorem</p>
                    <div class="d-flex flex-shrink-0 align-items-center mt-4">
                        <img class="img-fluid mr-4" src=" {% static 'website/assets/img/testimonial-1.jpg' %}" alt="">
                        <div>
                            <h5>Student Name</h5>
                            <span>Web Design</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Testimonial Start -->

{% endblock content %}